In [ ]:
import numpy as np
import pandas as pd
from matplotlib import font_manager, rc
import matplotlib
import seaborn as sns
import matplotlib.pyplot as plt

font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)
matplotlib.rcParams['axes.unicode_minus'] = False

In [2]:
data = pd.read_csv("C:/Users/Moon/Desktop/Github/BigContest_Flood-ZERO/문우혁/Data_Before/train.csv")
data.head(3)

,홍수사상번호,연,월,일,시간,유입량,유역평균강수1,강우A1,강우B1,강우C1,...,강우D5,수위E5,수위D5,유역평균강수6,강우A6,강우B6,강우C6,강우D6,수위E6,수위D6
0,1.0,2006.0,7.0,10.0,8.0,189.100000,6.4,7,7,7,...,8,2.54,122.660,6.4,7,7,8,8,2.54,122.61
1,1.0,2006.0,7.0,10.0,9.0,216.951962,6.3,7,8,7,...,10,2.53,122.648,7.3,7,8,10,10,2.53,122.60
2,1.0,2006.0,7.0,10.0,10.0,251.424419,6.4,7,9,7,...,11,2.53,122.636,8.2,7,9,10,11,2.53,122.59

In [3]:
X = data.drop('유입량', axis=1)
y = data['유입량']

In [4]:
X.head()

,홍수사상번호,연,월,일,시간,유역평균강수1,강우A1,강우B1,강우C1,강우D1,...,강우D5,수위E5,수위D5,유역평균강수6,강우A6,강우B6,강우C6,강우D6,수위E6,수위D6
0,1.0,2006.0,7.0,10.0,8.0,6.4,7,7,7,8,...,8,2.54,122.660,6.4,7,7,8,8,2.54,122.610
1,1.0,2006.0,7.0,10.0,9.0,6.3,7,8,7,8,...,10,2.53,122.648,7.3,7,8,10,10,2.53,122.600
2,1.0,2006.0,7.0,10.0,10.0,6.4,7,9,7,8,...,11,2.53,122.636,8.2,7,9,10,11,2.53,122.590
3,1.0,2006.0,7.0,10.0,11.0,7.3,7,10,7,8,...,14,2.53,122.620,11.3,9,10,15,14,2.53,122.585
4,1.0,2006.0,7.0,10.0,12.0,8.2,7,12,8,10,...,16,2.53,122.604,14.4,12,12,18,16,2.53,122.575

In [5]:
X=X.drop(X.iloc[:,12:], axis=1)
X.head(3)

,홍수사상번호,연,월,일,시간,유역평균강수1,강우A1,강우B1,강우C1,강우D1,수위E1,수위D1
0,1.0,2006.0,7.0,10.0,8.0,6.4,7,7,7,8,2.54,122.56875
1,1.0,2006.0,7.0,10.0,9.0,6.3,7,8,7,8,2.53,122.56250
2,1.0,2006.0,7.0,10.0,10.0,6.4,7,9,7,8,2.53,122.55625

In [6]:
y.head(3)

0    189.100000
1    216.951962
2    251.424419
Name: 유입량, dtype: float64

In [7]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score, LeaveOneOut
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()