In [2]:
import pandas as pd

from catboost import CatBoostRegressor
cat = CatBoostRegressor()

In [6]:
train = pd.read_csv('G:/내 드라이브/Github/BigContest_Flood-ZERO/고경수/train.csv')
test = pd.read_csv('G:/내 드라이브/Github/BigContest_Flood-ZERO/고경수/test.csv')
submission = pd.read_csv('G:/내 드라이브/Github/BigContest_Flood-ZERO/고경수/submission.csv')

In [7]:
train.head()

,홍수사상번호,연,월,일,시간,유입량,유역평균강수1,강우A1,강우B1,강우C1,...,강우D5,수위E5,수위D5,유역평균강수6,강우A6,강우B6,강우C6,강우D6,수위E6,수위D6
0,1.0,2006.0,7.0,10.0,8.0,189.100000,6.4,7,7,7,...,8,2.54,122.660,6.4,7,7,8,8,2.54,122.610
1,1.0,2006.0,7.0,10.0,9.0,216.951962,6.3,7,8,7,...,10,2.53,122.648,7.3,7,8,10,10,2.53,122.600
2,1.0,2006.0,7.0,10.0,10.0,251.424419,6.4,7,9,7,...,11,2.53,122.636,8.2,7,9,10,11,2.53,122.590
3,1.0,2006.0,7.0,10.0,11.0,302.812199,7.3,7,10,7,...,14,2.53,122.620,11.3,9,10,15,14,2.53,122.585
4,1.0,2006.0,7.0,10.0,12.0,384.783406,8.2,7,12,8,...,16,2.53,122.604,14.4,12,12,18,16,2.53,122.575

In [15]:
train.corr()['유입량']

홍수사상번호    -0.376751
연         -0.349836
월         -0.116182
일          0.052061
시간         0.016276
유입량        1.000000
유역평균강수1    0.742268
강우A1       0.617424
강우B1       0.739951
강우C1       0.605588
강우D1       0.700568
수위E1       0.903840
수위D1       0.109475
유역평균강수2    0.752184
강우A2       0.615217
강우B2       0.743754
강우C2       0.626355
강우D2       0.700568
수위E2       0.903840
수위D2       0.124289
유역평균강수3    0.752184
강우A3       0.615217
강우B3       0.771063
강우C3       0.641773
강우D3       0.710927
수위E3       0.903840
수위D3       0.133473
유역평균강수4    0.760476
강우A4       0.612004
강우B4       0.771063
강우C4       0.619889
강우D4       0.722170
수위E4       0.903840
수위D4       0.084623
유역평균강수5    0.767842
강우A5       0.612004
강우B5       0.771063
강우C5       0.619889
강우D5       0.722170
수위E5       0.903840
수위D5       0.091073
유역평균강수6    0.790920
강우A6       0.612004
강우B6       0.767258
강우C6       0.669108
강우D6       0.727581
수위E6       0.903840
수위D6       0.097066
Name: 유입량, dtype: float64

In [23]:
강우A = ['강우A1','강우A2','강우A3','강우A4','강우A5','강우A6']
강우B = ['강우B1','강우B2','강우B3','강우B4','강우B5','강우B6']
강우C = ['강우C1','강우C2','강우C3','강우C4','강우C5','강우C6']
강우D = ['강우D1','강우D2','강우D3','강우D4','강우D5','강우D6']
수위E = ['수위E1','수위E2','수위E3','수위E4','수위E5','수위E6']
수위D = ['수위D1','수위D2','수위D3','수위D4','수위D5','수위D6']

In [45]:
print(train[강우A].mean())

강우A1    79.865790
강우A2    83.111726
강우A3    83.111726
강우A4    84.734694
강우A5    84.734694
강우A6    84.734694
dtype: float64

In [46]:
print(train[강우B].mean())

강우B1    64.320996
강우B2    63.459011
강우B3    57.274991
강우B4    57.274991
강우B5    57.274991
강우B6    58.176064
dtype: float64

In [47]:
print(train[강우C].mean())

강우C1    40.029747
강우C2    39.464199
강우C3    39.700796
강우C4    51.492909
강우C5    51.492909
강우C6    39.168108
dtype: float64

In [48]:
print(train[강우D].mean())

강우D1    53.355240
강우D2    53.355240
강우D3    53.777240
강우D4    55.565202
강우D5    55.565202
강우D6    53.470771
dtype: float64

In [49]:
print(train[수위E].mean())

수위E1    4.583075
수위E2    4.583075
수위E3    4.583075
수위E4    4.583075
수위E5    4.583075
수위E6    4.583075
dtype: float64

In [50]:
print(train[수위D].mean())

수위D1    131.868337
수위D2    131.937138
수위D3    131.973432
수위D4    131.713814
수위D5    131.758356
수위D6    131.802854
dtype: float64