In [23]:
import pandas as pd
import numpy as np

from catboost import CatBoostRegressor
cat = CatBoostRegressor()

In [24]:
train = pd.read_csv('G:/내 드라이브/Github/BigContest_Flood-ZERO/고경수/train.csv')
test = pd.read_csv('G:/내 드라이브/Github/BigContest_Flood-ZERO/고경수/test.csv')
submission = pd.read_csv('G:/내 드라이브/Github/BigContest_Flood-ZERO/고경수/submission.csv')

In [25]:
train.head()

,홍수사상번호,연,월,일,시간,유입량,유역평균강수1,강우A1,강우B1,강우C1,...,강우D5,수위E5,수위D5,유역평균강수6,강우A6,강우B6,강우C6,강우D6,수위E6,수위D6
0,1.0,2006.0,7.0,10.0,8.0,189.100000,6.4,7,7,7,...,8,2.54,122.660,6.4,7,7,8,8,2.54,122.610
1,1.0,2006.0,7.0,10.0,9.0,216.951962,6.3,7,8,7,...,10,2.53,122.648,7.3,7,8,10,10,2.53,122.600
2,1.0,2006.0,7.0,10.0,10.0,251.424419,6.4,7,9,7,...,11,2.53,122.636,8.2,7,9,10,11,2.53,122.590
3,1.0,2006.0,7.0,10.0,11.0,302.812199,7.3,7,10,7,...,14,2.53,122.620,11.3,9,10,15,14,2.53,122.585
4,1.0,2006.0,7.0,10.0,12.0,384.783406,8.2,7,12,8,...,16,2.53,122.604,14.4,12,12,18,16,2.53,122.575

In [26]:
# train.corr()['유입량']

In [27]:
유역평균강수 = ['유역평균강수1','유역평균강수2','유역평균강수3','유역평균강수4','유역평균강수5','유역평균강수6']
강우A = ['강우A1','강우A2','강우A3','강우A4','강우A5','강우A6']
강우B = ['강우B1','강우B2','강우B3','강우B4','강우B5','강우B6']
강우C = ['강우C1','강우C2','강우C3','강우C4','강우C5','강우C6']
강우D = ['강우D1','강우D2','강우D3','강우D4','강우D5','강우D6']
수위E = ['수위E1','수위E2','수위E3','수위E4','수위E5','수위E6']
수위D = ['수위D1','수위D2','수위D3','수위D4','수위D5','수위D6']

In [28]:
# print(train[유역평균강수].mean())

In [29]:
# print(train[강우A].mean())

In [30]:
# print(train[강우B].mean())

In [31]:
# print(train[강우C].mean())

In [32]:
# print(train[강우D].mean())

In [33]:
# print(train[수위E].mean())

In [34]:
# print(train[수위D].mean())

In [35]:
train['유역평균강수'] = test[유역평균강수].apply(np.mean , axis=1)
train['강우A'] = train[강우A].apply(np.mean ,axis=1)
train['강우B'] = train[강우B].apply(np.mean ,axis=1)
train['강우C'] = train[강우C].apply(np.mean ,axis=1)
train['강우D'] = train[강우D].apply(np.mean ,axis=1)
train['수위E'] = train[수위E].apply(np.mean ,axis=1)
train['수위D'] = train[수위D].apply(np.mean ,axis=1)

In [36]:
test['유역평균강수'] = test[유역평균강수].apply(np.mean , axis=1)
test['강우A'] = test[강우A].apply(np.mean ,axis=1)
test['강우B'] = test[강우B].apply(np.mean ,axis=1)
test['강우C'] = test[강우C].apply(np.mean ,axis=1)
test['강우D'] = test[강우D].apply(np.mean ,axis=1)
test['수위E'] = test[수위E].apply(np.mean ,axis=1)
test['수위D'] = test[수위D].apply(np.mean ,axis=1)

In [37]:
# drops = [*유역평균강수,*강우A,*강우B,*강우C,*강우D,*수위E,*수위D]

# train = train.drop(drops, axis=1)

In [38]:
# train.head()

In [39]:
# train.columns

In [40]:
from sklearn.model_selection import train_test_split

In [41]:
# x_train = train[['유역평균강수', '강우A', '강우B', '강우C','강우D', '수위E', '수위D']]
# y_train = train['유입량']

# x_test = test[['유역평균강수', '강우A', '강우B', '강우C','강우D', '수위E', '수위D']]

# X = train[['시간','월','유역평균강수', '강우A', '강우B', '강우C','강우D', '수위E', '수위D']]

X = train[['월',*유역평균강수, *강우A, *강우B, *강우C,*강우D, *수위E, *수위D]]

y = train['유입량']

In [42]:
X['월'] = X['월'].astype(str)
# X['일'] = X['일'].astype(str)
#X['시간'].astype(object)

<ipython-input-42-a4ca2d4b8bae>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['월'] = X['월'].astype(str)

In [43]:
X['월']

0       7.0
1       7.0
2       7.0
3       7.0
4       7.0
       ...
2886    7.0
2887    7.0
2888    7.0
2889    7.0
2890    7.0
Name: 월, Length: 2891, dtype: object

In [44]:
X_train

NameError: name 'X_train' is not defined

In [45]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

categorical_features_indices1 = np.where(X_train.dtypes == np.object)[0]

In [49]:
len(X_train)

2312

In [50]:
len(X_test)

579

In [ ]:
categorical_features_indices1

In [ ]:
model = cat

In [ ]:
model.fit(X_train, y_train, cat_features = categorical_features_indices1)
#pred = model.predict(X_test)

In [ ]:
pred = model.predict(X_test)

In [ ]:
# +월 넣음
rmse = (np.sqrt(np.mean(mean_squared_error(y_test, pred))))
rmse

# 224.3599727834725

In [ ]:
rmse_list = []
for i in range(10):
    model.fit(X_train, y_train)
    pred = model.predict(X_test)
    rmse_list.append((np.sqrt(np.mean(mean_squared_error(y_test, pred)))))

In [ ]:
sum(rmse_list)/10

---

In [ ]:
# +월,일 넣음
rmse = (np.sqrt(np.mean(mean_squared_error(y_test, pred))))
rmse

# 2677.7373792782087

In [ ]:
# +월,시간 넣음
rmse = (np.sqrt(np.mean(mean_squared_error(y_test, pred))))
rmse

# 2974.5291207780074

In [ ]:
# 평균안하고 그냥 다넣어버림

rmse = (np.sqrt(np.mean(mean_squared_error(y_test, pred))))
rmse

In [ ]:
# 시간관련 아무것도 안넣음
from sklearn.metrics import mean_squared_error
rmse = (np.sqrt(np.mean(mean_squared_error(y_test, pred))))
rmse

In [ ]:
|