In [71]:
import pandas as pd
import numpy as np

from pycaret.regression import *

import matplotlib.pyplot as plt

plt.rc('font', family='NanumBarunGothic')


from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

In [72]:
train = pd.read_csv('G:/내 드라이브/Github/BigContest_Flood-ZERO/고경수/train.csv')
test = pd.read_csv('G:/내 드라이브/Github/BigContest_Flood-ZERO/고경수/test.csv')
submission = pd.read_csv('G:/내 드라이브/Github/BigContest_Flood-ZERO/고경수/submission.csv')

In [73]:
유역평균강수 = ['유역평균강수1','유역평균강수2','유역평균강수3','유역평균강수4','유역평균강수5','유역평균강수6']
강우A = ['강우A1','강우A2','강우A3','강우A4','강우A5','강우A6']
강우B = ['강우B1','강우B2','강우B3','강우B4','강우B5','강우B6']
강우C = ['강우C1','강우C2','강우C3','강우C4','강우C5','강우C6']
강우D = ['강우D1','강우D2','강우D3','강우D4','강우D5','강우D6']
수위E = ['수위E1','수위E2','수위E3','수위E4','수위E5','수위E6']
수위D = ['수위D1','수위D2','수위D3','수위D4','수위D5','수위D6']

In [74]:
# x_train = train[['유역평균강수', '강우A', '강우B', '강우C','강우D', '수위E', '수위D']]
# y_train = train['유입량']

# x_test = test[['유역평균강수', '강우A', '강우B', '강우C','강우D', '수위E', '수위D']]

# X = train[['시간','월','유역평균강수', '강우A', '강우B', '강우C','강우D', '수위E', '수위D']]

X = train[['유입량', '월', 유역평균강수[4], 강우A[4], 강우B[4], 강우C[4], 강우D[4], 수위E[4], 수위D[4]]]

y = train['유입량']

In [75]:
X['월'] = X['월'].astype(str)

In [76]:
# test[['유역평균강수', '강우A', '강우B', '강우C','강우D', '수위E', '수위D','유입량']]

In [77]:
reg = setup(session_id=40,
            data=X,
            target='유입량',
#            numeric_imputation = 'mean',
            normalize = True,
            categorical_features=['월'],
            silent=True,
#            pca = True,
            train_size = 0.7890004,
            data_split_shuffle = False)

In [81]:
compare_models(sort='RMSE'      , n_select=5)

[RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       max_samples=None, min_impurity_decrease=0.0,
                       min_impurity_split=None, min_samples_leaf=1,
                       min_samples_split=2, min_weight_fraction_leaf=0.0,
                       n_estimators=100, n_jobs=-1, oob_score=False,
                       random_state=40, verbose=0, warm_start=False),
 ExtraTreesRegressor(bootstrap=False, ccp_alpha=0.0, criterion='mse',
                     max_depth=None, max_features='auto', max_leaf_nodes=None,
                     max_samples=None, min_impurity_decrease=0.0,
                     min_impurity_split=None, min_samples_leaf=1,
                     min_samples_split=2, min_weight_fraction_leaf=0.0,
                     n_estimators=100, n_jobs=-1, oob_score=False,
                     random_state=40, verbose=0, warm_start=False),
 GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                           init=None, learning_rate=0.1, loss='ls', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=40, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0, warm_start=False),
 HuberRegressor(alpha=0.0001, epsilon=1.35, fit_intercept=True, max_iter=100,
                tol=1e-05, warm_start=False),
 PassiveAggressiveRegressor(C=1.0, average=False, early_stopping=False,
                            epsilon=0.1, fit_intercept=True,
                            loss='epsilon_insensitive', max_iter=1000,
                            n_iter_no_change=5, random_state=40, shuffle=True,
                            tol=0.001, validation_fraction=0.1, verbose=0,
                            warm_start=False)]

In [79]:
# blended_d = blend_models(top5, optimize='RMSE')

In [80]:
# pred_holdouts = predict_model(blended_d)
# final_model_d = finalize_model(blended_d)
# final_model_d

In [28]:
# top5[0]

In [29]:
# plt.plot(train.groupby('시간').mean()['유입량'])

In [39]:
train.groupby('연').count()['유입량']

연
2006.0    326
2007.0    115
2008.0     94
2009.0    292
2010.0    237
2011.0    709
2012.0    508
2013.0    413
2017.0    197
Name: 유입량, dtype: int64

In [40]:
train.groupby('연').mean()['유입량']

연
2006.0    4017.213124
2007.0    1787.957911
2008.0    2626.792297
2009.0    1942.528379
2010.0    1680.988421
2011.0    1661.749865
2012.0     983.644090
2013.0    1149.853317
2017.0     861.811295
Name: 유입량, dtype: float64

In [41]:
train.corr()

,홍수사상번호,연,월,일,시간,유입량,유역평균강수,강우A,강우B,강우C,강우D,수위E,수위D
홍수사상번호,1.000000,0.949192,-0.033990,-0.053224,-0.001309,-0.376751,-0.361003,-0.299777,-0.301142,-0.272762,-0.314441,-0.397827,-0.032815
연,0.949192,1.000000,-0.103384,-0.146855,0.001522,-0.349836,-0.305346,-0.233431,-0.243582,-0.201382,-0.287311,-0.366852,-0.114095
월,-0.033990,-0.103384,1.000000,-0.089601,-0.000097,-0.116182,-0.118025,-0.222865,-0.109374,-0.096348,-0.007122,-0.124068,0.380983
일,-0.053224,-0.146855,-0.089601,1.000000,-0.021963,0.052061,0.016251,0.008298,-0.012810,0.019922,0.016755,0.049864,0.293664
시간,-0.001309,0.001522,-0.000097,-0.021963,1.000000,0.016276,0.015380,0.017211,0.007172,0.011668,0.024615,0.022662,0.007299
유입량,-0.376751,-0.349836,-0.116182,0.052061,0.016276,1.000000,0.764816,0.614808,0.765433,0.644750,0.718587,0.903840,0.106762
유역평균강수,-0.361003,-0.305346,-0.118025,0.016251,0.015380,0.764816,1.000000,0.823255,0.950692,0.852678,0.837518,0.826923,0.048532
강우A,-0.299777,-0.233431,-0.222865,0.008298,0.017211,0.614808,0.823255,1.000000,0.800745,0.566784,0.609265,0.724896,-0.143982
강우B,-0.301142,-0.243582,-0.109374,-0.012810,0.007172,0.765433,0.950692,0.800745,1.000000,0.794468,0.805721,0.799097,-0.014137
강우C,-0.272762,-0.201382,-0.096348,0.019922,0.011668,0.644750,0.852678,0.566784,0.794468,1.000000,0.844094,0.689042,0.045019
강우D,-0.314441,-0.287311,-0.007122,0.016755,0.024615,0.718587,0.837518,0.609265,0.805721,0.844094,1.000000,0.771026,0.065962
수위E,-0.397827,-0.366852,-0.124068,0.049864,0.022662,0.903840,0.826923,0.724896,0.799097,0.689042,0.771026,1.000000,0.146047
수위D,-0.032815,-0.114095,0.380983,0.293664,0.007299,0.106762,0.048532,-0.143982,-0.014137,0.045019,0.065962,0.146047,1.000000