In [14]:
import pandas as pd
import numpy as np

from pycaret.regression import *

import matplotlib.pyplot as plt

plt.rc('font', family='NanumBarunGothic')


from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

In [15]:
train = pd.read_csv('G:/내 드라이브/Github/BigContest_Flood-ZERO/고경수/train.csv')
test = pd.read_csv('G:/내 드라이브/Github/BigContest_Flood-ZERO/고경수/test.csv')
submission = pd.read_csv('G:/내 드라이브/Github/BigContest_Flood-ZERO/고경수/submission.csv')

In [16]:
train.head()

,홍수사상번호,연,월,일,시간,유입량,유역평균강수1,강우A1,강우B1,강우C1,강우D1,수위E1,수위D1,유역평균강수2,강우A2,강우B2,강우C2,강우D2,수위E2,수위D2,유역평균강수3,강우A3,강우B3,강우C3,강우D3,수위E3,수위D3,유역평균강수4,강우A4,강우B4,강우C4,강우D4,수위E4,수위D4,유역평균강수5,강우A5,강우B5,강우C5,강우D5,수위E5,수위D5,유역평균강수6,강우A6,강우B6,강우C6,강우D6,수위E6,수위D6
0,1.0,2006.0,7.0,10.0,8.0,189.100000,6.4,7,7,7,8,2.54,122.56875,6.3,7,7,7,8,2.54,122.541667,6.3,7,7,7,8,2.54,122.550000,6.4,7,7,8,8,2.54,122.675000,6.4,7,7,8,8,2.54,122.660,6.4,7,7,8,8,2.54,122.610
1,1.0,2006.0,7.0,10.0,9.0,216.951962,6.3,7,8,7,8,2.53,122.56250,6.4,7,8,7,8,2.53,122.550000,6.4,7,8,7,8,2.53,122.558333,7.3,7,8,10,10,2.53,122.667857,7.3,7,8,10,10,2.53,122.648,7.3,7,8,10,10,2.53,122.600
2,1.0,2006.0,7.0,10.0,10.0,251.424419,6.4,7,9,7,8,2.53,122.55625,7.3,7,9,7,8,2.53,122.558333,7.3,7,9,8,8,2.53,122.566667,8.2,7,9,10,11,2.53,122.660714,8.2,7,9,10,11,2.53,122.636,8.2,7,9,10,11,2.53,122.590
3,1.0,2006.0,7.0,10.0,11.0,302.812199,7.3,7,10,7,8,2.53,122.55625,8.2,7,10,8,8,2.53,122.566667,8.2,7,10,10,10,2.53,122.575000,11.3,9,10,15,14,2.53,122.653571,11.3,9,10,15,14,2.53,122.620,11.3,9,10,15,14,2.53,122.585
4,1.0,2006.0,7.0,10.0,12.0,384.783406,8.2,7,12,8,10,2.53,122.55625,11.3,9,12,10,10,2.53,122.575000,11.3,9,12,10,11,2.53,122.575000,14.4,12,12,18,16,2.53,122.639286,14.4,12,12,18,16,2.53,122.604,14.4,12,12,18,16,2.53,122.575

In [17]:
유역평균강수 = ['유역평균강수1','유역평균강수2','유역평균강수3','유역평균강수4','유역평균강수5','유역평균강수6']
강우A = ['강우A1','강우A2','강우A3','강우A4','강우A5','강우A6']
강우B = ['강우B1','강우B2','강우B3','강우B4','강우B5','강우B6']
강우C = ['강우C1','강우C2','강우C3','강우C4','강우C5','강우C6']
강우D = ['강우D1','강우D2','강우D3','강우D4','강우D5','강우D6']
수위E = ['수위E1','수위E2','수위E3','수위E4','수위E5','수위E6']
수위D = ['수위D1','수위D2','수위D3','수위D4','수위D5','수위D6']

In [18]:
train['유역평균강수'] = train[유역평균강수].apply(np.mean , axis=1)
train['강우A'] = train[강우A].apply(np.mean ,axis=1)
train['강우B'] = train[강우B].apply(np.mean ,axis=1)
train['강우C'] = train[강우C].apply(np.mean ,axis=1)
train['강우D'] = train[강우D].apply(np.mean ,axis=1)
train['수위E'] = train[수위E].apply(np.mean ,axis=1)
train['수위D'] = train[수위D].apply(np.mean ,axis=1)

In [19]:
test['유역평균강수'] = test[유역평균강수].apply(np.mean , axis=1)
test['강우A'] = test[강우A].apply(np.mean ,axis=1)
test['강우B'] = test[강우B].apply(np.mean ,axis=1)
test['강우C'] = test[강우C].apply(np.mean ,axis=1)
test['강우D'] = test[강우D].apply(np.mean ,axis=1)
test['수위E'] = test[수위E].apply(np.mean ,axis=1)
test['수위D'] = test[수위D].apply(np.mean ,axis=1)

In [20]:
#drops = [*유역평균강수,*강우A,*강우B,*강우C,*강우D,*수위E,*수위D]

#train = train.drop(drops, axis=1)

In [21]:
train.head()

,홍수사상번호,연,월,일,시간,유입량,유역평균강수1,강우A1,강우B1,강우C1,강우D1,수위E1,수위D1,유역평균강수2,강우A2,강우B2,강우C2,강우D2,수위E2,수위D2,유역평균강수3,강우A3,강우B3,강우C3,강우D3,수위E3,수위D3,유역평균강수4,강우A4,강우B4,강우C4,강우D4,수위E4,수위D4,유역평균강수5,강우A5,강우B5,강우C5,강우D5,수위E5,수위D5,유역평균강수6,강우A6,강우B6,강우C6,강우D6,수위E6,수위D6,유역평균강수,강우A,강우B,강우C,강우D,수위E,수위D
0,1.0,2006.0,7.0,10.0,8.0,189.100000,6.4,7,7,7,8,2.54,122.56875,6.3,7,7,7,8,2.54,122.541667,6.3,7,7,7,8,2.54,122.550000,6.4,7,7,8,8,2.54,122.675000,6.4,7,7,8,8,2.54,122.660,6.4,7,7,8,8,2.54,122.610,6.366667,7.000000,7.0,7.500000,8.000000,2.54,122.600903
1,1.0,2006.0,7.0,10.0,9.0,216.951962,6.3,7,8,7,8,2.53,122.56250,6.4,7,8,7,8,2.53,122.550000,6.4,7,8,7,8,2.53,122.558333,7.3,7,8,10,10,2.53,122.667857,7.3,7,8,10,10,2.53,122.648,7.3,7,8,10,10,2.53,122.600,6.833333,7.000000,8.0,8.500000,9.000000,2.53,122.597782
2,1.0,2006.0,7.0,10.0,10.0,251.424419,6.4,7,9,7,8,2.53,122.55625,7.3,7,9,7,8,2.53,122.558333,7.3,7,9,8,8,2.53,122.566667,8.2,7,9,10,11,2.53,122.660714,8.2,7,9,10,11,2.53,122.636,8.2,7,9,10,11,2.53,122.590,7.600000,7.000000,9.0,8.666667,9.500000,2.53,122.594661
3,1.0,2006.0,7.0,10.0,11.0,302.812199,7.3,7,10,7,8,2.53,122.55625,8.2,7,10,8,8,2.53,122.566667,8.2,7,10,10,10,2.53,122.575000,11.3,9,10,15,14,2.53,122.653571,11.3,9,10,15,14,2.53,122.620,11.3,9,10,15,14,2.53,122.585,9.600000,8.000000,10.0,11.666667,11.333333,2.53,122.592748
4,1.0,2006.0,7.0,10.0,12.0,384.783406,8.2,7,12,8,10,2.53,122.55625,11.3,9,12,10,10,2.53,122.575000,11.3,9,12,10,11,2.53,122.575000,14.4,12,12,18,16,2.53,122.639286,14.4,12,12,18,16,2.53,122.604,14.4,12,12,18,16,2.53,122.575,12.333333,10.166667,12.0,13.666667,13.166667,2.53,122.587423

In [25]:
# x_train = train[['유역평균강수', '강우A', '강우B', '강우C','강우D', '수위E', '수위D']]
# y_train = train['유입량']

# x_test = test[['유역평균강수', '강우A', '강우B', '강우C','강우D', '수위E', '수위D']]

# X = train[['시간','월','유역평균강수', '강우A', '강우B', '강우C','강우D', '수위E', '수위D']]

X = train[['월','유입량',*유역평균강수, *강우A, *강우B, *강우C,*강우D, *수위E, *수위D]]

y = train['유입량']

In [26]:
X['월'] = X['월'].astype(str)

In [30]:
# test[['유역평균강수', '강우A', '강우B', '강우C','강우D', '수위E', '수위D','유입량']]

In [31]:
reg = setup(session_id=1,
            data=X,
            target='유입량',
            numeric_imputation = 'mean',
            normalize = True,
            categorical_features=['월'],
            silent=True)

In [29]:
# rf = create_model('rf', fold=5)

In [ ]:
compare_models(sort='RMSE')      #, n_select=5)

IntProgress(value=0, description='Processing: ', max=94)

Initiated  . . . . . . . . . . . . . . . . . .            14:29:56
Status     . . . . . . . . . . . . . . . . . .    Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  CatBoost Regressor

In [33]:
# blended_d = blend_models(top5, optimize='RMSE')

In [34]:
# pred_holdouts = predict_model(blended_d)
# final_model_d = finalize_model(blended_d)
# final_model_d

In [35]:
# top5[0]

In [36]:
# plt.plot(train.groupby('시간').mean()['유입량'])

In [39]:
train.groupby('연').count()['유입량']

연
2006.0    326
2007.0    115
2008.0     94
2009.0    292
2010.0    237
2011.0    709
2012.0    508
2013.0    413
2017.0    197
Name: 유입량, dtype: int64

In [40]:
train.groupby('연').mean()['유입량']

연
2006.0    4017.213124
2007.0    1787.957911
2008.0    2626.792297
2009.0    1942.528379
2010.0    1680.988421
2011.0    1661.749865
2012.0     983.644090
2013.0    1149.853317
2017.0     861.811295
Name: 유입량, dtype: float64

In [41]:
train.corr()

,홍수사상번호,연,월,일,시간,유입량,유역평균강수,강우A,강우B,강우C,강우D,수위E,수위D
홍수사상번호,1.000000,0.949192,-0.033990,-0.053224,-0.001309,-0.376751,-0.361003,-0.299777,-0.301142,-0.272762,-0.314441,-0.397827,-0.032815
연,0.949192,1.000000,-0.103384,-0.146855,0.001522,-0.349836,-0.305346,-0.233431,-0.243582,-0.201382,-0.287311,-0.366852,-0.114095
월,-0.033990,-0.103384,1.000000,-0.089601,-0.000097,-0.116182,-0.118025,-0.222865,-0.109374,-0.096348,-0.007122,-0.124068,0.380983
일,-0.053224,-0.146855,-0.089601,1.000000,-0.021963,0.052061,0.016251,0.008298,-0.012810,0.019922,0.016755,0.049864,0.293664
시간,-0.001309,0.001522,-0.000097,-0.021963,1.000000,0.016276,0.015380,0.017211,0.007172,0.011668,0.024615,0.022662,0.007299
유입량,-0.376751,-0.349836,-0.116182,0.052061,0.016276,1.000000,0.764816,0.614808,0.765433,0.644750,0.718587,0.903840,0.106762
유역평균강수,-0.361003,-0.305346,-0.118025,0.016251,0.015380,0.764816,1.000000,0.823255,0.950692,0.852678,0.837518,0.826923,0.048532
강우A,-0.299777,-0.233431,-0.222865,0.008298,0.017211,0.614808,0.823255,1.000000,0.800745,0.566784,0.609265,0.724896,-0.143982
강우B,-0.301142,-0.243582,-0.109374,-0.012810,0.007172,0.765433,0.950692,0.800745,1.000000,0.794468,0.805721,0.799097,-0.014137
강우C,-0.272762,-0.201382,-0.096348,0.019922,0.011668,0.644750,0.852678,0.566784,0.794468,1.000000,0.844094,0.689042,0.045019
강우D,-0.314441,-0.287311,-0.007122,0.016755,0.024615,0.718587,0.837518,0.609265,0.805721,0.844094,1.000000,0.771026,0.065962
수위E,-0.397827,-0.366852,-0.124068,0.049864,0.022662,0.903840,0.826923,0.724896,0.799097,0.689042,0.771026,1.000000,0.146047
수위D,-0.032815,-0.114095,0.380983,0.293664,0.007299,0.106762,0.048532,-0.143982,-0.014137,0.045019,0.065962,0.146047,1.000000