In [1]:
import numpy as np
import pandas as pd
from matplotlib import font_manager, rc
import matplotlib
import seaborn as sns
import matplotlib.pyplot as plt

font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)
matplotlib.rcParams['axes.unicode_minus'] = False

## `Data load`

In [2]:
data = pd.read_csv("C:/Users/Moon/Desktop/Github/BigContest_Flood-ZERO/문우혁/Data_Before/train.csv")
data.head(3)

,홍수사상번호,연,월,일,시간,유입량,유역평균강수1,강우A1,강우B1,강우C1,...,강우D5,수위E5,수위D5,유역평균강수6,강우A6,강우B6,강우C6,강우D6,수위E6,수위D6
0,1.0,2006.0,7.0,10.0,8.0,189.100000,6.4,7,7,7,...,8,2.54,122.660,6.4,7,7,8,8,2.54,122.61
1,1.0,2006.0,7.0,10.0,9.0,216.951962,6.3,7,8,7,...,10,2.53,122.648,7.3,7,8,10,10,2.53,122.60
2,1.0,2006.0,7.0,10.0,10.0,251.424419,6.4,7,9,7,...,11,2.53,122.636,8.2,7,9,10,11,2.53,122.59

In [3]:
X = data.drop('유입량', axis=1)
y = data['유입량']

In [4]:
X.head(3)

,홍수사상번호,연,월,일,시간,유역평균강수1,강우A1,강우B1,강우C1,강우D1,...,강우D5,수위E5,수위D5,유역평균강수6,강우A6,강우B6,강우C6,강우D6,수위E6,수위D6
0,1.0,2006.0,7.0,10.0,8.0,6.4,7,7,7,8,...,8,2.54,122.660,6.4,7,7,8,8,2.54,122.61
1,1.0,2006.0,7.0,10.0,9.0,6.3,7,8,7,8,...,10,2.53,122.648,7.3,7,8,10,10,2.53,122.60
2,1.0,2006.0,7.0,10.0,10.0,6.4,7,9,7,8,...,11,2.53,122.636,8.2,7,9,10,11,2.53,122.59

In [5]:
X = X.drop(['홍수사상번호', '연', '일', '시간'], axis=1)

In [6]:
X.head(3)

,월,유역평균강수1,강우A1,강우B1,강우C1,강우D1,수위E1,수위D1,유역평균강수2,강우A2,...,강우D5,수위E5,수위D5,유역평균강수6,강우A6,강우B6,강우C6,강우D6,수위E6,수위D6
0,7.0,6.4,7,7,7,8,2.54,122.56875,6.3,7,...,8,2.54,122.660,6.4,7,7,8,8,2.54,122.61
1,7.0,6.3,7,8,7,8,2.53,122.56250,6.4,7,...,10,2.53,122.648,7.3,7,8,10,10,2.53,122.60
2,7.0,6.4,7,9,7,8,2.53,122.55625,7.3,7,...,11,2.53,122.636,8.2,7,9,10,11,2.53,122.59

In [7]:
X_1_1 = X.drop(X.iloc[:, 8:], axis=1)
X_1_1 = X_1_1.iloc[:226]


X_1_2 = X.drop(X.iloc[:, 1:8], axis=1)
X_1_2 = X_1_2.drop(X.iloc[:, 15:], axis=1)
X_1_2 = X_1_2.iloc[:226]


X_1_3 = X.drop(X.iloc[:, 1:15], axis=1)
X_1_3 = X_1_3.drop(X.iloc[:, 22:], axis=1)
X_1_3 = X_1_3.iloc[:226]


X_1_4 = X.drop(X.iloc[:, 1:22], axis=1)
X_1_4 = X_1_4.drop(X.iloc[:, 29:], axis=1)
X_1_4 = X_1_4.iloc[:226]


X_1_5 = X.drop(X.iloc[:, 1:29], axis=1)
X_1_5 = X_1_5.drop(X.iloc[:, 36:], axis=1)
X_1_5 = X_1_5.iloc[:226]


X_1_6 = X.drop(X.iloc[:, 1:36], axis=1)
X_1_6 = X_1_6.drop(X.iloc[:, 43:], axis=1)
X_1_6 = X_1_6.iloc[:226]


X_2_1 = X.drop(X.iloc[:, 8:], axis=1)
X_2_1 = X_2_1.iloc[226:326]


X_2_2 = X.drop(X.iloc[:, 1:8], axis=1)
X_2_2 = X_2_2.drop(X.iloc[:, 15:], axis=1)
X_2_2 = X_2_2.iloc[226:326]


X_2_3 = X.drop(X.iloc[:, 1:15], axis=1)
X_2_3 = X_2_3.drop(X.iloc[:, 22:], axis=1)
X_2_3 = X_2_3.iloc[226:326]


X_2_4 = X.drop(X.iloc[:, 1:22], axis=1)
X_2_4 = X_2_4.drop(X.iloc[:, 29:], axis=1)
X_2_4 = X_2_4.iloc[226:326]


X_2_5 = X.drop(X.iloc[:, 1:29], axis=1)
X_2_5 = X_2_5.drop(X.iloc[:, 36:], axis=1)
X_2_5 = X_2_5.iloc[226:326]


X_2_6 = X.drop(X.iloc[:, 1:36], axis=1)
X_2_6 = X_2_6.drop(X.iloc[:, 43:], axis=1)
X_2_6 = X_2_6.iloc[226:326]


X_3_1 = X.drop(X.iloc[:, 8:], axis=1)
X_3_1 = X_3_1.iloc[326:407]


X_3_2 = X.drop(X.iloc[:, 1:8], axis=1)
X_3_2 = X_3_2.drop(X.iloc[:, 15:], axis=1)
X_3_2 = X_3_2.iloc[326:407]


X_3_3 = X.drop(X.iloc[:, 1:15], axis=1)
X_3_3 = X_3_3.drop(X.iloc[:, 22:], axis=1)
X_3_3 = X_3_3.iloc[326:407]


X_3_4 = X.drop(X.iloc[:, 1:22], axis=1)
X_3_4 = X_3_4.drop(X.iloc[:, 29:], axis=1)
X_3_4 = X_3_4.iloc[326:407]


X_3_5 = X.drop(X.iloc[:, 1:29], axis=1)
X_3_5 = X_3_5.drop(X.iloc[:, 36:], axis=1)
X_3_5 = X_3_5.iloc[326:407]


X_3_6 = X.drop(X.iloc[:, 1:36], axis=1)
X_3_6 = X_3_6.drop(X.iloc[:, 43:], axis=1)
X_3_6 = X_3_6.iloc[326:407]


X_4_1 = X.drop(X.iloc[:, 8:], axis=1)
X_4_1 = X_4_1.iloc[407:441]


X_4_2 = X.drop(X.iloc[:, 1:8], axis=1)
X_4_2 = X_4_2.drop(X.iloc[:, 15:], axis=1)
X_4_2 = X_4_2.iloc[407:441]


X_4_3 = X.drop(X.iloc[:, 1:15], axis=1)
X_4_3 = X_4_3.drop(X.iloc[:, 22:], axis=1)
X_4_3 = X_4_3.iloc[407:441]


X_4_4 = X.drop(X.iloc[:, 1:22], axis=1)
X_4_4 = X_4_4.drop(X.iloc[:, 29:], axis=1)
X_4_4 = X_4_4.iloc[407:441]


X_4_5 = X.drop(X.iloc[:, 1:29], axis=1)
X_4_5 = X_4_5.drop(X.iloc[:, 36:], axis=1)
X_4_5 = X_4_5.iloc[407:441]


X_4_6 = X.drop(X.iloc[:, 1:36], axis=1)
X_4_6 = X_4_6.drop(X.iloc[:, 43:], axis=1)
X_4_6 = X_4_6.iloc[407:441]


X_5_1 = X.drop(X.iloc[:, 8:], axis=1)
X_5_1 = X_5_1.iloc[441:535]


X_5_2 = X.drop(X.iloc[:, 1:8], axis=1)
X_5_2 = X_5_2.drop(X.iloc[:, 15:], axis=1)
X_5_2 = X_5_2.iloc[441:535]


X_5_3 = X.drop(X.iloc[:, 1:15], axis=1)
X_5_3 = X_5_3.drop(X.iloc[:, 22:], axis=1)
X_5_3 = X_5_3.iloc[441:535]


X_5_4 = X.drop(X.iloc[:, 1:22], axis=1)
X_5_4 = X_5_4.drop(X.iloc[:, 29:], axis=1)
X_5_4 = X_5_4.iloc[441:535]


X_5_5 = X.drop(X.iloc[:, 1:29], axis=1)
X_5_5 = X_5_5.drop(X.iloc[:, 36:], axis=1)
X_5_5 = X_5_5.iloc[441:535]


X_5_6 = X.drop(X.iloc[:, 1:36], axis=1)
X_5_6 = X_5_6.drop(X.iloc[:, 43:], axis=1)
X_5_6 = X_5_6.iloc[441:535]


X_6_1 = X.drop(X.iloc[:, 8:], axis=1)
X_6_1 = X_6_1.iloc[535:581]


X_6_2 = X.drop(X.iloc[:, 1:8], axis=1)
X_6_2 = X_6_2.drop(X.iloc[:, 15:], axis=1)
X_6_2 = X_6_2.iloc[535:581]


X_6_3 = X.drop(X.iloc[:, 1:15], axis=1)
X_6_3 = X_6_3.drop(X.iloc[:, 22:], axis=1)
X_6_3 = X_6_3.iloc[535:581]


X_6_4 = X.drop(X.iloc[:, 1:22], axis=1)
X_6_4 = X_6_4.drop(X.iloc[:, 29:], axis=1)
X_6_4 = X_6_4.iloc[535:581]


X_6_5 = X.drop(X.iloc[:, 1:29], axis=1)
X_6_5 = X_6_5.drop(X.iloc[:, 36:], axis=1)
X_6_5 = X_6_5.iloc[535:581]


X_6_6 = X.drop(X.iloc[:, 1:36], axis=1)
X_6_6 = X_6_6.drop(X.iloc[:, 43:], axis=1)
X_6_6 = X_6_6.iloc[535:581]


X_7_1 = X.drop(X.iloc[:, 8:], axis=1)
X_7_1 = X_7_1.iloc[581:632]


X_7_2 = X.drop(X.iloc[:, 1:8], axis=1)
X_7_2 = X_7_2.drop(X.iloc[:, 15:], axis=1)
X_7_2 = X_7_2.iloc[581:632]


X_7_3 = X.drop(X.iloc[:, 1:15], axis=1)
X_7_3 = X_7_3.drop(X.iloc[:, 22:], axis=1)
X_7_3 = X_7_3.iloc[581:632]


X_7_4 = X.drop(X.iloc[:, 1:22], axis=1)
X_7_4 = X_7_4.drop(X.iloc[:, 29:], axis=1)
X_7_4 = X_7_4.iloc[581:632]


X_7_5 = X.drop(X.iloc[:, 1:29], axis=1)
X_7_5 = X_7_5.drop(X.iloc[:, 36:], axis=1)
X_7_5 = X_7_5.iloc[581:632]


X_7_6 = X.drop(X.iloc[:, 1:36], axis=1)
X_7_6 = X_7_6.drop(X.iloc[:, 43:], axis=1)
X_7_6 = X_7_6.iloc[581:632]


X_8_1 = X.drop(X.iloc[:, 8:], axis=1)
X_8_1 = X_8_1.iloc[632:673]


X_8_2 = X.drop(X.iloc[:, 1:8], axis=1)
X_8_2 = X_8_2.drop(X.iloc[:, 15:], axis=1)
X_8_2 = X_8_2.iloc[632:673]


X_8_3 = X.drop(X.iloc[:, 1:15], axis=1)
X_8_3 = X_8_3.drop(X.iloc[:, 22:], axis=1)
X_8_3 = X_8_3.iloc[632:673]


X_8_4 = X.drop(X.iloc[:, 1:22], axis=1)
X_8_4 = X_8_4.drop(X.iloc[:, 29:], axis=1)
X_8_4 = X_8_4.iloc[632:673]


X_8_5 = X.drop(X.iloc[:, 1:29], axis=1)
X_8_5 = X_8_5.drop(X.iloc[:, 36:], axis=1)
X_8_5 = X_8_5.iloc[632:673]


X_8_6 = X.drop(X.iloc[:, 1:36], axis=1)
X_8_6 = X_8_6.drop(X.iloc[:, 43:], axis=1)
X_8_6 = X_8_6.iloc[632:673]


X_9_1 = X.drop(X.iloc[:, 8:], axis=1)
X_9_1 = X_9_1.iloc[673:741]


X_9_2 = X.drop(X.iloc[:, 1:8], axis=1)
X_9_2 = X_9_2.drop(X.iloc[:, 15:], axis=1)
X_9_2 = X_9_2.iloc[673:741]


X_9_3 = X.drop(X.iloc[:, 1:15], axis=1)
X_9_3 = X_9_3.drop(X.iloc[:, 22:], axis=1)
X_9_3 = X_9_3.iloc[673:741]


X_9_4 = X.drop(X.iloc[:, 1:22], axis=1)
X_9_4 = X_9_4.drop(X.iloc[:, 29:], axis=1)
X_9_4 = X_9_4.iloc[673:741]


X_9_5 = X.drop(X.iloc[:, 1:29], axis=1)
X_9_5 = X_9_5.drop(X.iloc[:, 36:], axis=1)
X_9_5 = X_9_5.iloc[673:741]


X_9_6 = X.drop(X.iloc[:, 1:36], axis=1)
X_9_6 = X_9_6.drop(X.iloc[:, 43:], axis=1)
X_9_6 = X_9_6.iloc[673:741]


X_10_1 = X.drop(X.iloc[:, 8:], axis=1)
X_10_1 = X_10_1.iloc[741:827]


X_10_2 = X.drop(X.iloc[:, 1:8], axis=1)
X_10_2 = X_10_2.drop(X.iloc[:, 15:], axis=1)
X_10_2 = X_10_2.iloc[741:827]


X_10_3 = X.drop(X.iloc[:, 1:15], axis=1)
X_10_3 = X_10_3.drop(X.iloc[:, 22:], axis=1)
X_10_3 = X_10_3.iloc[741:827]


X_10_4 = X.drop(X.iloc[:, 1:22], axis=1)
X_10_4 = X_10_4.drop(X.iloc[:, 29:], axis=1)
X_10_4 = X_10_4.iloc[741:827]


X_10_5 = X.drop(X.iloc[:, 1:29], axis=1)
X_10_5 = X_10_5.drop(X.iloc[:, 36:], axis=1)
X_10_5 = X_10_5.iloc[741:827]


X_10_6 = X.drop(X.iloc[:, 1:36], axis=1)
X_10_6 = X_10_6.drop(X.iloc[:, 43:], axis=1)
X_10_6 = X_10_6.iloc[741:827]


X_11_1 = X.drop(X.iloc[:, 8:], axis=1)
X_11_1 = X_11_1.iloc[827:937]


X_11_2 = X.drop(X.iloc[:, 1:8], axis=1)
X_11_2 = X_11_2.drop(X.iloc[:, 15:], axis=1)
X_11_2 = X_11_2.iloc[827:937]


X_11_3 = X.drop(X.iloc[:, 1:15], axis=1)
X_11_3 = X_11_3.drop(X.iloc[:, 22:], axis=1)
X_11_3 = X_11_3.iloc[827:937]


X_11_4 = X.drop(X.iloc[:, 1:22], axis=1)
X_11_4 = X_11_4.drop(X.iloc[:, 29:], axis=1)
X_11_4 = X_11_4.iloc[827:937]


X_11_5 = X.drop(X.iloc[:, 1:29], axis=1)
X_11_5 = X_11_5.drop(X.iloc[:, 36:], axis=1)
X_11_5 = X_11_5.iloc[827:937]


X_11_6 = X.drop(X.iloc[:, 1:36], axis=1)
X_11_6 = X_11_6.drop(X.iloc[:, 43:], axis=1)
X_11_6 = X_11_6.iloc[827:937]


X_12_1 = X.drop(X.iloc[:, 8:], axis=1)
X_12_1 = X_12_1.iloc[937:1064]


X_12_2 = X.drop(X.iloc[:, 1:8], axis=1)
X_12_2 = X_12_2.drop(X.iloc[:, 15:], axis=1)
X_12_2 = X_12_2.iloc[937:1064]


X_12_3 = X.drop(X.iloc[:, 1:15], axis=1)
X_12_3 = X_12_3.drop(X.iloc[:, 22:], axis=1)
X_12_3 = X_12_3.iloc[937:1064]


X_12_4 = X.drop(X.iloc[:, 1:22], axis=1)
X_12_4 = X_12_4.drop(X.iloc[:, 29:], axis=1)
X_12_4 = X_12_4.iloc[937:1064]


X_12_5 = X.drop(X.iloc[:, 1:29], axis=1)
X_12_5 = X_12_5.drop(X.iloc[:, 36:], axis=1)
X_12_5 = X_12_5.iloc[937:1064]


X_12_6 = X.drop(X.iloc[:, 1:36], axis=1)
X_12_6 = X_12_6.drop(X.iloc[:, 43:], axis=1)
X_12_6 = X_12_6.iloc[937:1064]


X_13_1 = X.drop(X.iloc[:, 8:], axis=1)
X_13_1 = X_13_1.iloc[1064:1131]


X_13_2 = X.drop(X.iloc[:, 1:8], axis=1)
X_13_2 = X_13_2.drop(X.iloc[:, 15:], axis=1)
X_13_2 = X_13_2.iloc[1064:1131]


X_13_3 = X.drop(X.iloc[:, 1:15], axis=1)
X_13_3 = X_13_3.drop(X.iloc[:, 22:], axis=1)
X_13_3 = X_13_3.iloc[1064:1131]


X_13_4 = X.drop(X.iloc[:, 1:22], axis=1)
X_13_4 = X_13_4.drop(X.iloc[:, 29:], axis=1)
X_13_4 = X_13_4.iloc[1064:1131]


X_13_5 = X.drop(X.iloc[:, 1:29], axis=1)
X_13_5 = X_13_5.drop(X.iloc[:, 36:], axis=1)
X_13_5 = X_13_5.iloc[1064:1131]


X_13_6 = X.drop(X.iloc[:, 1:36], axis=1)
X_13_6 = X_13_6.drop(X.iloc[:, 43:], axis=1)
X_13_6 = X_13_6.iloc[1064:1131]


X_14_1 = X.drop(X.iloc[:, 8:], axis=1)
X_14_1 = X_14_1.iloc[1131:1181]


X_14_2 = X.drop(X.iloc[:, 1:8], axis=1)
X_14_2 = X_14_2.drop(X.iloc[:, 15:], axis=1)
X_14_2 = X_14_2.iloc[1131:1181]


X_14_3 = X.drop(X.iloc[:, 1:15], axis=1)
X_14_3 = X_14_3.drop(X.iloc[:, 22:], axis=1)
X_14_3 = X_14_3.iloc[1131:1181]


X_14_4 = X.drop(X.iloc[:, 1:22], axis=1)
X_14_4 = X_14_4.drop(X.iloc[:, 29:], axis=1)
X_14_4 = X_14_4.iloc[1131:1181]


X_14_5 = X.drop(X.iloc[:, 1:29], axis=1)
X_14_5 = X_14_5.drop(X.iloc[:, 36:], axis=1)
X_14_5 = X_14_5.iloc[1131:1181]


X_14_6 = X.drop(X.iloc[:, 1:36], axis=1)
X_14_6 = X_14_6.drop(X.iloc[:, 43:], axis=1)
X_14_6 = X_14_6.iloc[1131:1181]


X_15_1 = X.drop(X.iloc[:, 8:], axis=1)
X_15_1 = X_15_1.iloc[1181:1443]


X_15_2 = X.drop(X.iloc[:, 1:8], axis=1)
X_15_2 = X_15_2.drop(X.iloc[:, 15:], axis=1)
X_15_2 = X_15_2.iloc[1181:1443]


X_15_3 = X.drop(X.iloc[:, 1:15], axis=1)
X_15_3 = X_15_3.drop(X.iloc[:, 22:], axis=1)
X_15_3 = X_15_3.iloc[1181:1443]


X_15_4 = X.drop(X.iloc[:, 1:22], axis=1)
X_15_4 = X_15_4.drop(X.iloc[:, 29:], axis=1)
X_15_4 = X_15_4.iloc[1181:1443]


X_15_5 = X.drop(X.iloc[:, 1:29], axis=1)
X_15_5 = X_15_5.drop(X.iloc[:, 36:], axis=1)
X_15_5 = X_15_5.iloc[1181:1443]


X_15_6 = X.drop(X.iloc[:, 1:36], axis=1)
X_15_6 = X_15_6.drop(X.iloc[:, 43:], axis=1)
X_15_6 = X_15_6.iloc[1181:1443]


X_16_1 = X.drop(X.iloc[:, 8:], axis=1)
X_16_1 = X_16_1.iloc[1443:1648]


X_16_2 = X.drop(X.iloc[:, 1:8], axis=1)
X_16_2 = X_16_2.drop(X.iloc[:, 15:], axis=1)
X_16_2 = X_16_2.iloc[1443:1648]


X_16_3 = X.drop(X.iloc[:, 1:15], axis=1)
X_16_3 = X_16_3.drop(X.iloc[:, 22:], axis=1)
X_16_3 = X_16_3.iloc[1443:1648]


X_16_4 = X.drop(X.iloc[:, 1:22], axis=1)
X_16_4 = X_16_4.drop(X.iloc[:, 29:], axis=1)
X_16_4 = X_16_4.iloc[1443:1648]


X_16_5 = X.drop(X.iloc[:, 1:29], axis=1)
X_16_5 = X_16_5.drop(X.iloc[:, 36:], axis=1)
X_16_5 = X_16_5.iloc[1443:1648]


X_16_6 = X.drop(X.iloc[:, 1:36], axis=1)
X_16_6 = X_16_6.drop(X.iloc[:, 43:], axis=1)
X_16_6 = X_16_6.iloc[1443:1648]


X_17_1 = X.drop(X.iloc[:, 8:], axis=1)
X_17_1 = X_17_1.iloc[1648:1773]


X_17_2 = X.drop(X.iloc[:, 1:8], axis=1)
X_17_2 = X_17_2.drop(X.iloc[:, 15:], axis=1)
X_17_2 = X_17_2.iloc[1648:1773]


X_17_3 = X.drop(X.iloc[:, 1:15], axis=1)
X_17_3 = X_17_3.drop(X.iloc[:, 22:], axis=1)
X_17_3 = X_17_3.iloc[1648:1773]


X_17_4 = X.drop(X.iloc[:, 1:22], axis=1)
X_17_4 = X_17_4.drop(X.iloc[:, 29:], axis=1)
X_17_4 = X_17_4.iloc[1648:1773]


X_17_5 = X.drop(X.iloc[:, 1:29], axis=1)
X_17_5 = X_17_5.drop(X.iloc[:, 36:], axis=1)
X_17_5 = X_17_5.iloc[1648:1773]


X_17_6 = X.drop(X.iloc[:, 1:36], axis=1)
X_17_6 = X_17_6.drop(X.iloc[:, 43:], axis=1)
X_17_6 = X_17_6.iloc[1648:1773]


X_18_1 = X.drop(X.iloc[:, 8:], axis=1)
X_18_1 = X_18_1.iloc[1773:1838]


X_18_2 = X.drop(X.iloc[:, 1:8], axis=1)
X_18_2 = X_18_2.drop(X.iloc[:, 15:], axis=1)
X_18_2 = X_18_2.iloc[1773:1838]


X_18_3 = X.drop(X.iloc[:, 1:15], axis=1)
X_18_3 = X_18_3.drop(X.iloc[:, 22:], axis=1)
X_18_3 = X_18_3.iloc[1773:1838]


X_18_4 = X.drop(X.iloc[:, 1:22], axis=1)
X_18_4 = X_18_4.drop(X.iloc[:, 29:], axis=1)
X_18_4 = X_18_4.iloc[1773:1838]


X_18_5 = X.drop(X.iloc[:, 1:29], axis=1)
X_18_5 = X_18_5.drop(X.iloc[:, 36:], axis=1)
X_18_5 = X_18_5.iloc[1773:1838]


X_18_6 = X.drop(X.iloc[:, 1:36], axis=1)
X_18_6 = X_18_6.drop(X.iloc[:, 43:], axis=1)
X_18_6 = X_18_6.iloc[1773:1838]


X_19_1 = X.drop(X.iloc[:, 8:], axis=1)
X_19_1 = X_19_1.iloc[1838:1933]


X_19_2 = X.drop(X.iloc[:, 1:8], axis=1)
X_19_2 = X_19_2.drop(X.iloc[:, 15:], axis=1)
X_19_2 = X_19_2.iloc[1838:1933]


X_19_3 = X.drop(X.iloc[:, 1:15], axis=1)
X_19_3 = X_19_3.drop(X.iloc[:, 22:], axis=1)
X_19_3 = X_19_3.iloc[1838:1933]


X_19_4 = X.drop(X.iloc[:, 1:22], axis=1)
X_19_4 = X_19_4.drop(X.iloc[:, 29:], axis=1)
X_19_4 = X_19_4.iloc[1838:1933]


X_19_5 = X.drop(X.iloc[:, 1:29], axis=1)
X_19_5 = X_19_5.drop(X.iloc[:, 36:], axis=1)
X_19_5 = X_19_5.iloc[1838:1933]


X_19_6 = X.drop(X.iloc[:, 1:36], axis=1)
X_19_6 = X_19_6.drop(X.iloc[:, 43:], axis=1)
X_19_6 = X_19_6.iloc[1838:1933]


X_20_1 = X.drop(X.iloc[:, 8:], axis=1)
X_20_1 = X_20_1.iloc[1933:2197]


X_20_2 = X.drop(X.iloc[:, 1:8], axis=1)
X_20_2 = X_20_2.drop(X.iloc[:, 15:], axis=1)
X_20_2 = X_20_2.iloc[1933:2197]


X_20_3 = X.drop(X.iloc[:, 1:15], axis=1)
X_20_3 = X_20_3.drop(X.iloc[:, 22:], axis=1)
X_20_3 = X_20_3.iloc[1933:2197]


X_20_4 = X.drop(X.iloc[:, 1:22], axis=1)
X_20_4 = X_20_4.drop(X.iloc[:, 29:], axis=1)
X_20_4 = X_20_4.iloc[1933:2197]


X_20_5 = X.drop(X.iloc[:, 1:29], axis=1)
X_20_5 = X_20_5.drop(X.iloc[:, 36:], axis=1)
X_20_5 = X_20_5.iloc[1933:2197]


X_20_6 = X.drop(X.iloc[:, 1:36], axis=1)
X_20_6 = X_20_6.drop(X.iloc[:, 43:], axis=1)
X_20_6 = X_20_6.iloc[1933:2197]


X_21_1 = X.drop(X.iloc[:, 8:], axis=1)
X_21_1 = X_21_1.iloc[2197:2281]


X_21_2 = X.drop(X.iloc[:, 1:8], axis=1)
X_21_2 = X_21_2.drop(X.iloc[:, 15:], axis=1)
X_21_2 = X_21_2.iloc[2197:2281]


X_21_3 = X.drop(X.iloc[:, 1:15], axis=1)
X_21_3 = X_21_3.drop(X.iloc[:, 22:], axis=1)
X_21_3 = X_21_3.iloc[2197:2281]


X_21_4 = X.drop(X.iloc[:, 1:22], axis=1)
X_21_4 = X_21_4.drop(X.iloc[:, 29:], axis=1)
X_21_4 = X_21_4.iloc[2197:2281]


X_21_5 = X.drop(X.iloc[:, 1:29], axis=1)
X_21_5 = X_21_5.drop(X.iloc[:, 36:], axis=1)
X_21_5 = X_21_5.iloc[2197:2281]


X_21_6 = X.drop(X.iloc[:, 1:36], axis=1)
X_21_6 = X_21_6.drop(X.iloc[:, 43:], axis=1)
X_21_6 = X_21_6.iloc[2197:2281]


X_22_1 = X.drop(X.iloc[:, 8:], axis=1)
X_22_1 = X_22_1.iloc[2281:2565]


X_22_2 = X.drop(X.iloc[:, 1:8], axis=1)
X_22_2 = X_22_2.drop(X.iloc[:, 15:], axis=1)
X_22_2 = X_22_2.iloc[2281:2565]


X_22_3 = X.drop(X.iloc[:, 1:15], axis=1)
X_22_3 = X_22_3.drop(X.iloc[:, 22:], axis=1)
X_22_3 = X_22_3.iloc[2281:2565]


X_22_4 = X.drop(X.iloc[:, 1:22], axis=1)
X_22_4 = X_22_4.drop(X.iloc[:, 29:], axis=1)
X_22_4 = X_22_4.iloc[2281:2565]


X_22_5 = X.drop(X.iloc[:, 1:29], axis=1)
X_22_5 = X_22_5.drop(X.iloc[:, 36:], axis=1)
X_22_5 = X_22_5.iloc[2281:2565]


X_22_6 = X.drop(X.iloc[:, 1:36], axis=1)
X_22_6 = X_22_6.drop(X.iloc[:, 43:], axis=1)
X_22_6 = X_22_6.iloc[2281:2565]


X_23_1 = X.drop(X.iloc[:, 8:], axis=1)
X_23_1 = X_23_1.iloc[2565:2694]


X_23_2 = X.drop(X.iloc[:, 1:8], axis=1)
X_23_2 = X_23_2.drop(X.iloc[:, 15:], axis=1)
X_23_2 = X_23_2.iloc[2565:2694]


X_23_3 = X.drop(X.iloc[:, 1:15], axis=1)
X_23_3 = X_23_3.drop(X.iloc[:, 22:], axis=1)
X_23_3 = X_23_3.iloc[2565:2694]


X_23_4 = X.drop(X.iloc[:, 1:22], axis=1)
X_23_4 = X_23_4.drop(X.iloc[:, 29:], axis=1)
X_23_4 = X_23_4.iloc[2565:2694]


X_23_5 = X.drop(X.iloc[:, 1:29], axis=1)
X_23_5 = X_23_5.drop(X.iloc[:, 36:], axis=1)
X_23_5 = X_23_5.iloc[2565:2694]


X_23_6 = X.drop(X.iloc[:, 1:36], axis=1)
X_23_6 = X_23_6.drop(X.iloc[:, 43:], axis=1)
X_23_6 = X_23_6.iloc[2565:2694]


X_24_1 = X.drop(X.iloc[:, 8:], axis=1)
X_24_1 = X_24_1.iloc[2694:2788]


X_24_2 = X.drop(X.iloc[:, 1:8], axis=1)
X_24_2 = X_24_2.drop(X.iloc[:, 15:], axis=1)
X_24_2 = X_24_2.iloc[2694:2788]


X_24_3 = X.drop(X.iloc[:, 1:15], axis=1)
X_24_3 = X_24_3.drop(X.iloc[:, 22:], axis=1)
X_24_3 = X_24_3.iloc[2694:2788]


X_24_4 = X.drop(X.iloc[:, 1:22], axis=1)
X_24_4 = X_24_4.drop(X.iloc[:, 29:], axis=1)
X_24_4 = X_24_4.iloc[2694:2788]


X_24_5 = X.drop(X.iloc[:, 1:29], axis=1)
X_24_5 = X_24_5.drop(X.iloc[:, 36:], axis=1)
X_24_5 = X_24_5.iloc[2694:2788]


X_24_6 = X.drop(X.iloc[:, 1:36], axis=1)
X_24_6 = X_24_6.drop(X.iloc[:, 43:], axis=1)
X_24_6 = X_24_6.iloc[2694:2788]


X_25_1 = X.drop(X.iloc[:, 8:], axis=1)
X_25_1 = X_25_1.iloc[2788:2891]


X_25_2 = X.drop(X.iloc[:, 1:8], axis=1)
X_25_2 = X_25_2.drop(X.iloc[:, 15:], axis=1)
X_25_2 = X_25_2.iloc[2788:2891]
X_25_2

X_25_3 = X.drop(X.iloc[:, 1:15], axis=1)
X_25_3 = X_25_3.drop(X.iloc[:, 22:], axis=1)
X_25_3 = X_25_3.iloc[2788:2891]


X_25_4 = X.drop(X.iloc[:, 1:22], axis=1)
X_25_4 = X_25_4.drop(X.iloc[:, 29:], axis=1)
X_25_4 = X_25_4.iloc[2788:2891]


X_25_5 = X.drop(X.iloc[:, 1:29], axis=1)
X_25_5 = X_25_5.drop(X.iloc[:, 36:], axis=1)
X_25_5 = X_25_5.iloc[2788:2891]


X_25_6 = X.drop(X.iloc[:, 1:36], axis=1)
X_25_6 = X_25_6.drop(X.iloc[:, 43:], axis=1)
X_25_6 = X_25_6.iloc[2788:2891]

In [8]:
X_25_6

        월  유역평균강수6  강우A6  강우B6  강우C6  강우D6  수위E6     수위D6
2788  7.0   0.0177     0     0     0     0  2.70  134.035
2789  7.0   1.0631     0     0    14     0  2.68  134.055
2790  7.0   2.9241     0     0    15     0  2.67  134.070
2791  7.0   3.3789     0     0    15     1  2.66  134.090
2792  7.0   3.8094     0     0    16     1  2.65  134.105
...   ...      ...   ...   ...   ...   ...   ...      ...
2886  7.0   1.7366     6     0     1     1  3.03  137.130
2887  7.0   1.7366     2     0     1     1  3.00  137.145
2888  7.0   1.7366     1     0     1     1  2.98  137.155
2889  7.0   1.7366     1     0     1     1  2.96  137.165
2890  7.0   1.7366     1     0     1     1  2.94  137.180

[103 rows x 8 columns]

In [11]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
rf = RandomForestRegressor()

In [43]:
dtlists = []
for i in range(1,6):
    for j in range(1,25):
        eval('dtlists.append(X_'+str(j)+'_'+str(i)+')')

In [44]:
len(dtlists)

120

In [48]:
dtlists[40]

        월  유역평균강수2  강우A2  강우B2  강우C2  강우D2  수위E2        수위D2
1648  8.0   8.9523    19    10    10     0  2.29  134.800000
1649  8.0   8.9712    19    10    10     0  2.28  134.800000
1650  8.0   8.9295    19    10    10     0  2.28  134.800000
1651  8.0   8.8754    19    10    10     0  2.27  134.800000
1652  8.0   8.7661    18    10    10     0  2.27  134.800000
...   ...      ...   ...   ...   ...   ...   ...         ...
1768  8.0   7.2841     0     0     6    13  3.15  138.975000
1769  8.0   7.2299     0     0     6    13  3.15  138.933333
1770  8.0   7.0132     0     0     6    13  3.13  138.900000
1771  8.0   6.9590     0     0     6    13  3.11  138.866667
1772  8.0   6.7423     0     0     6    13  3.09  138.825000

[125 rows x 8 columns]