In [1]:
import pandas as pd

In [160]:
train = pd.read_csv('C:/Users/korea/Desktop/문우혁/Github/BigContest_Flood-ZERO/문우혁/Data_After/train.csv')

In [161]:
train['year']=pd.to_datetime(train['year'])
train['month']=pd.to_datetime(train['month'])
train['day']=pd.to_datetime(train['day'])
train['time']=pd.to_datetime(train['time'])

In [162]:
train['year']=pd.to_numeric(train['year'])
train['month']=pd.to_numeric(train['month'])
train['day']=pd.to_numeric(train['day'])
train['time']=pd.to_numeric(train['time'])

In [27]:
train.dtypes

num             float64
year              int64
month             int64
day               int64
time              int64
flow            float64
mean_rain       float64
rain_A            int64
rain_B            int64
rain_C            int64
rain_D            int64
waterLevel_E    float64
waterLevel_D    float64
dtype: object

In [191]:
train.head(3)

,num,year,month,day,time,flow,mean_rain,rain_A,rain_B,rain_C,rain_D,waterLevel_E,waterLevel_D,date
0,1.0,2006,7,10,8,189.100000,6.4,7,7,7,8,2.54,122.56875,2006-07-10 08:00:00
1,1.0,2006,7,10,9,216.951962,6.3,7,8,7,8,2.53,122.56250,2006-07-10 09:00:00
2,1.0,2006,7,10,10,251.424419,6.4,7,9,7,8,2.53,122.55625,2006-07-10 10:00:00

In [169]:
index = train[train['time']==24].index
train['time'][index]=0

C:\Users\Public\Documents\ESTsoft\CreatorTemp/ipykernel_26916/1797927558.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['time'][index]=0

In [186]:
train['date'] = train['month'].astype(str) + ' ' + train['day'].astype(str) + ' ' + train['year'].astype(str) + ' ' + train['time'].astype(str)

In [188]:
train['date'] = pd.to_datetime(train['date'], format='%m %d %Y %H')

In [184]:
train.isnull().sum()

num             0
year            0
month           0
day             0
time            0
flow            0
mean_rain       0
rain_A          0
rain_B          0
rain_C          0
rain_D          0
waterLevel_E    0
waterLevel_D    0
date            0
dtype: int64

In [192]:
train.head(3)

,num,year,month,day,time,flow,mean_rain,rain_A,rain_B,rain_C,rain_D,waterLevel_E,waterLevel_D,date
0,1.0,2006,7,10,8,189.100000,6.4,7,7,7,8,2.54,122.56875,2006-07-10 08:00:00
1,1.0,2006,7,10,9,216.951962,6.3,7,8,7,8,2.53,122.56250,2006-07-10 09:00:00
2,1.0,2006,7,10,10,251.424419,6.4,7,9,7,8,2.53,122.55625,2006-07-10 10:00:00

In [195]:
train = train.sort_values(by=['date'])

In [197]:
train.to_csv('C:/Users/korea/Desktop/문우혁/Github/BigContest_Flood-ZERO/문우혁/Data_After/train.csv', index=False)